{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css">


  </head>
  <body>
    
    <h3 style="padding-left : 50px; padding-top : 20px;">Techniques</h3>
    
    <br>

    <a style="float:right;font-size:20px;padding-right:100px;" href="badwords"> Add Bad Words</a>

    <form style="padding-left : 50px;">
      <div class="input-group w-25">
        <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.GET.search }}" id="myInput">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" >
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    
  <div class="container" style="padding-top: 50px;">


    <div class="row" style="height: max-content;">
      <div class="col-1 text-md-left" >
          <h4><strong>ID </strong></h4>
      </div>
      <div class="col-4 text-md-left">
          <h4><strong>Link </strong></h4>
      </div>
      <div class="col-3 text-md-left">
          <h4><strong>Detection </strong></h4>
      </div>
      <div class="col-2 text-md-left">
          <h4><strong>Key-words </strong></h4>
      </div>
      <div class="col-2 text-md-left">
        <h4><strong>Migrations </strong></h4>
    </div>
    </div>


    {% for obj in page_obj %}

      <div class="row" style="height: max-content;">
        <div class="col-1 text-md-left">
            <h4>{{obj.name}} </h4>
        </div>
        <div class="col-4 text-md-left">
            <h4><a href="{{obj.link}}">{{obj.link}}</a></h4>
        </div>
        <div class="col-3 text-md-left">
            <h4>{{obj.detection}}</h4>
        </div>
        <div class="col-2 text-md-left">
            <h4>{{obj.keywords}}</h4>
        </div>
        <div class="col-2 text-md-left">
          <h4>{{obj.mitigate}}</h4>
      </div>
      </div>

    {% endfor %}

  </div>

  <nav aria-label="Page navigation example" style="padding: 150px;">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
      {% endif %}
      
      <li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
      
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
      {% endif %}
    </ul>
  </nav>

  </body>
 

</html>
