{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Terminal</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="app-layout-body" class="container-fluid body-content" style="width:50vw;">

      <br>

      <h3 style="text-align:center;">Running......</h3>

      <br>
      <br>

      {% for message in messages %}
        <div class="alert alert-light" role="alert">
          {{ message }}
        </div>
      {% endfor %}

      <a href="/"><button type="button" class="btn btn-success" style="margin-left:300px;">Home</button></a>

    </div>
  </body>
</html>
